
.cards
{
  width: 100%;
  height: 330px;
  cursor: pointer;
  margin: auto;

  padding-top: 20px;

  /*transition effects */
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.cards.flipped 
{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.cards .front,
.cards .back {
  display: block;
  width: 100%;
  height: 300px;
  color: rgb(0, 0, 0);
  /* text-align: center; */
  font-size: 4em;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26); */
  border-radius: 10px;
  /* box-shadow: rgb(188 194 207) 0px 4px 0px; */
}

p {
  font-size: 16px;
  margin-top: 25px;
}

.cardsImg {
  flex-shrink: 0;
  background-image: linear-gradient(147deg, #000 0%, #000 74%);
  box-shadow: 0px 3px 10px 1px rgb(252 56 56 / 20%);
  border-radius: 20px;
  overflow: hidden;
  margin: 30px;
  border-width: 1px solid #000;
}

.cards .back {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 16px;
  line-height: 25px;
  margin: auto;
}

.cards .back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

/*Colors for front and back applied here*/
.cardContainer .cards .front  {
  background: linear-gradient(147deg, rgb(230 255 229) 0%, rgb(236 255 241) 50%);
  display: flex;
  align-items: center;
  /* border: 1px solid rgb(243, 243, 243); */
}

.cardContainer .cards .back {
  background: linear-gradient(147deg, rgb(236 239 255) 0%, rgb(243 249 255) 50%);
  display: flex;
  align-items: center;
  /* border: 1px solid rgb(243, 243, 243); */
}

h3.cardTitle {
  line-height: 1.2em;
  margin-top: 8%;
  font-weight: 600;
}
.content h3.cardTitle
{
  margin-top: 0%;
}

.cards__words {
  margin: auto;
  font-family: Noto Serif Korean;
  font-weight: bold;
  color: rgb(194, 61, 9);
  font-size: 35px;
}

.content {
  font-weight: 100;
  text-align: left;
  width: 100%;
}

.cards__meaning__group
{
  padding: 10px;
  box-shadow: rgb(188 194 207) 0px 1px 0px;
}

.cards__meaning {
  font-family: Noto Serif Korean;
  font-weight: 500;
  color: #ff1d1d;
}

.cards__subtitle
{
  
}

.cards__example {
  font-family: Noto Serif Korean;
  font-size: 18px;
  color: #00118b;
}

.cards__button-wapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cards__button-wapper__cards
{
  display: block;
  width: calc(100% - 30px);
  position: absolute;
  padding: 15px;
  bottom: 0;
}

.cards__button-wapper__prev
{
  float: left;
  color: #000 !important;
  background: #ffa464 !important;
  box-shadow: rgb(0 0 0 / 10%) 0px -2px 0px inset;
  border-color: #ededed !important;
  min-width: 65px;
}

.cards__button-wapper__next
{
  float: right;
  color: #000 !important;
  background: #ffa464 !important;
  box-shadow: rgb(0 0 0 / 10%) 0px -2px 0px inset;
  border-color: #ededed !important;
  min-width: 65px;
}

.button__group {
  display: flex;
  
}

.button__group__button
{
  padding: 20px;
  margin-bottom: 20px;
}

.cards__process
{
  margin-left: 15px;
  margin-right: 15px;
}

.header__custom
{
  padding: 15px 0 15px 0;
  margin: 15px;
  box-shadow: rgb(188 194 207) 0px 3px 0px;
  color: #e15d00;
}

.header__custom h4 {
  font-weight: 600;
}

.header__custom.header__courses {
  padding: 15px 0 10px 0 !important;
  margin: 15px 0 15px 0 !important;
}

.cards_example__group
{
  padding: 10px;
  box-shadow: rgb(188 194 207) 0px 1px 0px;
}


.xxxm{
  background: rgb(188 194 207);
  height: 3px;
  width: 100%;
  margin-bottom: 15px;
}


/* tu vung da hoc/chua hoc */
.words_statistic__group
{
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #fdfdfd;
  width: 70%;
  padding: 15px;
  box-shadow: rgb(188 194 207) 0px 1px 0px;
  margin: 15px 30px 15px 30px;
}

.words_statistic__title,
.words_statistic__meaning
{
  font-family: Noto Serif Korean;
  font-size: 18px;
  color: #542b00;
}

.cards_finish__group
{
  padding: 15px;
}

.cards_finish__group__title
{
  margin-bottom: 10px;
  font-size: 20px;
  color: #0008ff;
}

.cards_finish__group__name_course
{
  margin-bottom: 15px;
  font-size: 23px;
  font-weight: 600;
  color: #0008ff;
}

@media all and (max-width: 1000px){
  h3.cardTitle{
    font-weight: 500px;
  }

  .content p
  {
    margin-top: -15%;
    line-height: 1.2em;
  }

  .cardContainer
  {
    /* padding-right: 0 !important;
    padding-left: 0 !important; */
  }
  
  .cards
  {
    height: 565px;
  }

  .cards .front,
  .cards .back 
  {
    height: 470px;
  }

  .button__group
  {
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-around;
  }

  .cards__button-wapper
  {
    padding: 15px 0 15px 0;
    flex-direction: column;
  }

  .button__group__button
  {
    margin-bottom: 20px;
    font-size: 15px;
  }

  .cardsImg
  {

  }

  .cards .back
  {
    flex-direction: column;
    /* margin: 20px; */
  }


}

@media all and (max-width : 768px) {
  
  .cards
  {
  width:100%;
    height: 565px;
  }

  .cards__button-wapper
  {
    padding: 20px 0 0 0;
    margin: 0 15px 0 15px;
    flex-direction: row;
  }
  .secondRow
  {
    margin-top: -9%;
  }
  .well 
  {
  padding: 1%;
  }
    .cardContainer:nth-child(3),.cardContainer:nth-child(4)
  {
    margin-top: 5%;
  }
  h3.cardTitle
  {
    font-weight: 500;     
  }
  .content p
  {
    margin-top: -20%;
    line-height: 1.2em;
  }
  .cardWrapper
  {
    margin-left: 4%;
  }

  .words_statistic__group
  {
    width: calc(100% - 30px);
    margin: 15px;
  }

  .words_statistic__title,
  .words_statistic__meaning
  {
    font-family: Noto Serif Korean;
    font-size: 16px;
    color: #542b00;
  }

}